body {
   margin: 0;

}

li {
   display: block;
   list-style: none;
}

a {
   text-decoration: none;
   color: #EFF7F5;
}


.container {
   width: 100%;

}




.sub-container {

   height: 840px;
   background: #004F44;

}





.nav-container {
   position: fixed;
   width: 100%;
   padding-top: 100px;
   z-index: 1;
   background-color: #004F44;
   border-bottom: 1px solid #E5E5E5;

}




/* Shop */
.shop {

   position: absolute;
   width: 39px;
   height: 21px;
   left: 140px;
   top: 58px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;

   /* identical to box height */
   letter-spacing: 0.3px;
   color: #EFF7F5;

}



/* Products */

.products {

   position: absolute;
   width: 69px;
   height: 21px;
   left: 219px;
   top: 58px;

   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   /* identical to box height */

   letter-spacing: 0.3px;
   color: #EFF7F5;

}

/* icon */

.bi-caret-down-fill {
   position: absolute;
   font-size: 10px;
   color: #EFF7F5;
   top: 1px;
   padding: 2px;
}


/* Fertilizer */

.fertilizer {
   position: absolute;
   width: 66px;
   height: 21px;
   left: 340px;
   top: 58px;

   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   /* identical to box height */

   letter-spacing: 0.3px;
   color: #EFF7F5;

}


.guide {

   position: absolute;
   width: 46px;
   height: 21px;
   left: 446px;
   top: 58px;

   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   /* identical to box height */
   letter-spacing: 0.3px;
   color: #EFF7F5;

}


/* Logo da Pagina */

#logo {

   position: absolute;
   width: 119px;
   height: 86px;
   left: 660px;
   top: 21px;
}


/* Vetores */



.icon{
   display: flex;
   justify-content: center;
   position: absolute;
   width: 94px;
   height: 20px;
   left: 1246px;
   top: 55px;

}
.search {

   position: absolute;
   left: 0; 
   bottom: 0px;
   color: #EFF7F5;
 
}

.user {

   position: absolute;
   left: 34px;
   color: #EFF7F5;
   font-size: 20px;
   
   

}


.cart {

   position: absolute;
   left: 70px;
   color: #EFF7F5;
   font-size: 19px;
   bottom: -2px;
   
}


.margin-conteiner {
   width: 1102.5px;
}


/* Happiness blooms from within */

.Text-title {

   position: absolute;
   width: 420px;
   height: 216px;
   left: 140px;
   top: 238px;
}

.Text-title h1 {
   font-family: 'Chillax';
   font-style: normal;
   font-weight: 500;
   font-size: 64px;
   line-height: 72px;
   /* or 112% */

   letter-spacing: 1.5px;

   color: #EFF7F5;

}

/* Our environment, the world in which we live and work, is a mirror of our attitudes and expectations. */

.palagrafo {
   position: absolute;
   width: 420px;
   height: 56px;
   left: 140px;
   top: 486px;
}

.palagrafo p {

   font-family: 'Steppe';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   /* or 175% */

   letter-spacing: 0.3px;

   color: #EFF7F5;
}



/* Rectangle 3 */

.btn-retangulo {
   position: absolute;
   width: 156px;
   height: 59px;
   left: 140px;
   top: 574px;
   background: #EFF7F5;
}



.btn-retangulo a {
   position: absolute;
   padding-left: 40px;
   padding-right: auto;
   padding-top: 20px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   /* identical to box height */
   letter-spacing: 0.2px;
   color: #004F44;


}

/* Explore plants */

.Texto-link {
   position: absolute;
   width: 116px;
   height: 19px;
   left: 339px;
   top: 561px;
}

.Texto-link a {
   position: absolute;
   width: 116px;
   height: 19px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.3px;
   color: #EFF7F5;
   top: 34px;
}


/* Arrow 1 */

.bi-arrow-right {

   position: absolute;
   width: 16px;
   font-size: 16px;
   height: 0px;
   left: 125px;
   top: 36px;
   color: #EFF7F5;

}

#img-1 {
   position: absolute;
   width: 222.82px;
   height: 257.41px;
   left: 693px;
   top: 199px;
}


.Auto-layout {
   position: absolute;
   width: 59px;
   height: 28px;
   left: 20px;
   top: 10px;
   background: #004F44;
}

.Auto-layout P {
   position: absolute;
   color: #EFF7F5;
   top: -11px;
   left: 15px;
}



#img-2 {
   position: absolute;
   width: 222.82px;
   height: 285.39px;
   left: 693px;
   top: 460.8px;
}

.Popular {
   position: absolute;
   width: 82px;
   height: 28px;
   left: 20px;
   top: 10px;
   background: #004F44;
}

.Popular P {
   position: absolute;
   color: #EFF7F5;
   top: -11px;
   left: 15px;
}


#img-3 {
   position: absolute;
   width: 379.79px;
   height: 547.19px;
   left: 920.21px;
   top: 199px;
}


.Featured {
   position: absolute;
   width: 90px;
   height: 28px;
   left: 20px;
   top: 10px;
   background: #004F44;
}

.Featured P {
   position: absolute;
   color: #EFF7F5;
   top: -11px;
   left: 15px;
}

#img-4 {
   position: absolute;
   width: 379.79px;
   height: 318.32px;
   left: 920.21px;
   top: 427.87px;
   background: linear-gradient(178.62deg, rgba(46, 64, 61, 0) 25.35%, #234A45 91.06%);
   border-radius: 0px;
}

#img-5 {
   position: absolute;
   width: 115px;
   height: 115px;
   left: 654px;
   top: 662px;
}



.texto-principal {
   position: absolute;
   width: 248px;
   height: 34px;
   left: 27px;
   top: 119px;

}

.texto-principal h1 {


   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   line-height: 34px;
   /* identical to box height */
   color: #EFF7F5;

}

.texto-paragrafo {
   position: absolute;
   width: 327px;
   height: 54px;
   left: 26px;
   top: 158px;

}

.texto-paragrafo p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   /* or 129% */

   letter-spacing: 0.3px;

   color: #EFF7F5;
}


.Retangulo {
   position: absolute;
   width: 327.1px;
   height: 48.3px;
   left: 25px;
   top: 246px;
   background: #FFFFFF;

}

.Retangulo a {
   position: absolute;
   top: 17px;

   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 3.2px;
   color: #004F44;
   left: 121px;
}





.titulo-featured h1 {
   position: absolute;
   width: 180px;
   height: 48px;
   left: 142px;
   top: 894px;

   font-family: 'Steppe';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 48px;
   /* identical to box height */

   letter-spacing: 0.5px;

   color: #004F44;
}



.titulo-featured p {
   position: absolute;
   width: 92px;
   height: 29px;
   left: 1208px;
   top: 894px;
   margin: 26.8px;

   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   /* identical to box height */

   letter-spacing: 0.5px;
   color: #004F44;

}

#img-8 {
   position: absolute;
   width: 279px;
   height: 360px;
   left: 140px;
   top: 1006px;
}

#img-9 {
   position: absolute;
   width: 279px;
   height: 360px;
   left: 447px;
   top: 1006px;

}

#img-10 {
   position: absolute;
   width: 279px;
   height: 360px;
   left: 754px;
   top: 1006px;
}

#img-11 {
   position: absolute;
   width: 279px;
   height: 360px;
   left: 1061px;
   top: 1006px;

}

#img-12 {
   position: absolute;
   width: 74px;
   height: 360px;
   left: 1368px;
   top: 1006px;
}



.btn-proximo {
   position: absolute;
   width: 78px;
   height: 56px;
   left: 1320px;
   top: 1186px;


}


#ativa {
   width: 56px;
   height: 56px;
   border-radius: 28px;
   top: 1186px;
   left: 1235px;
   background-color: #FFFFFF;
   cursor: pointer;
   border: 1px solid #39362E;
   padding: 10px;


}


.btn-proximo .bi.bi-arrow-right {
   color: #004F44;
   font-size: 30px;
   position: absolute;
   left: 12px;
   right: -38.92%;
   top: 22.07%;
   bottom: 11.43%;
   padding: 0;
}


.Peperomia-Ginny {
   position: absolute;
   width: 170px;
   height: 24px;

}

.Peperomia-Ginny p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   /* identical to box height */
   letter-spacing: 0.3px;
   color: #004F44;
}

.valor-dolar {
   position: absolute;
   width: 34px;
   height: 24px;
   left: 237px;
   top: 2px;
}

.valor-dolar p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   /* identical to box height */

   letter-spacing: 0.3px;

   color: #004F44;

}


.Large {
   position: absolute;
   width: 185px;
   height: 24px;
}

.Large p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   /* identical to box height */
   letter-spacing: 0.3px;
   color: #004F44;
}


.Pot-color p {
   color: #9EA9A7;
   font-size: 16px;
   margin: 0;
}


.Ellipse-1 {
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 16px;
   background-color: #39362E;
   margin-right: 5px;
}

.Ellipse-2 {
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 16px;
   left: 18px;
   background-color: #F3A195;
   margin-right: 5px;
}

.Ellipse-3 {
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 16px;
   left: 35px;
   background-color: #EFEAE6;
   margin-right: 5px;
}

.Ellipse-4 {
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 16px;
   left: 52px;
   background-color: #C38364;
   margin-right: 5px;
}

.Buy {
   position: absolute;
   width: 79px;
   height: 35px;
   left: 200px;
   top: 68px;
   background: #004F44;
}

.Buy p {

   position: absolute;
   width: 31px;
   height: 19px;
   left: 25px;
   top: 8px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;

}

.Buy-transparente {
   position: absolute;
   width: 79px;
   height: 35px;
   left: 200px;
   top: 68px;
   border: 1px solid #004F44;

}

.Buy-transparente p {
   position: absolute;
   width: 31px;
   height: 19px;
   left: 25px;
   top: 8px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;

   color: #004F44;
}




/* pq ?????????????????*/
.container-search {
display: flex;
justify-content: center;

}

#margin-pesquisa {
   position: absolute;
   width: 1440px;
   height: 229px;
   left: 0px;
   top: 1578px;

   background: #F3FFFC;
}



.form-control {
position: absolute;
width: 1010px;
height: 59px;
left: 215px;
top: 85px;
background: #FFFFFF;
border: 1px solid #004F44;
}


.filtro-search {
   position: absolute;
   width: 59px;
   height: 59px;
   border: 1px solid #004F44;
   left: 139px;
   top: 85px;

}

.filtro-search img {
   position: absolute;
   width: 30px;
   height: 30px;
   left: 15px;
   top: 14px;
   cursor: pointer;
}

.lupa-pesquisa {
   position: absolute;
   width: 59px;
   height: 59px;
   border: 1px solid #004F44;
   top: 83px;
   left: 1239px;
   background-color: #004F44;
   cursor: pointer;
}

.lupa-pesquisa img {
   position: absolute;
   width: 30px;
   height: 30px;
   top: 14px;
   left: 14px;
   cursor: pointer;

}



.container-colorful {

   position: absolute;
   width: 1157px;
   height: 507px;
   left: 142px;
   top: 1903px;

}




.container-colorful h1{
   position: absolute;
   width: 396px;
   height: 36px;
   left: 0px;
   top: -37px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 48px;
   letter-spacing: 0.5px;
   color: #004F44;
}



.container-colorful p{
   position: absolute;
    width: 92px;
    height: 29px;
    left: 1060px;
    margin: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #004F44;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #004F44;

}


.texto-foto h1{
   position: absolute;
   width: 123px;
   height: 35px;
   left: 84px;
   top: 169px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 29px;
   line-height: 35px;
   letter-spacing: 0.3px;
   color: #FFFFFF;
}

.texto-foto p{
   position: absolute;
   width: 141px;
   height: 19px;
   left: 66px;
   top: 216px;
   margin-top: 12px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.3px;
   color: #FFFFFF;
}



#img-6{
position: absolute;
width: 268px;
height: 404px;
left: 0px;
top: 67px;
}

#img-6 .bi-arrow-right{
   position: absolute;
   left: 209px;
   top: 229px;
   font-size: 20px;
}

#img-15{
   position: absolute;
   width: 270px;
   height: 404px;
   left: 268px;
   top: 67px;
   margin-left: 24px;
}
#img-16{
   position: absolute;
   width: 270px;
   height: 404px;
   left: 562px;
   top: 67px;
   margin-left: 24px;

}

#img-17{
   position: absolute;
   width: 270px;
   height: 404px;
   left:856px;
   top: 67px;
   margin-left: 24px;
}


.container-Plant{
   position: absolute;
   width: 1440px;
   height: 655px;
   left: 0px;
   top: 2375px;
   background: #F3FFFC;
   margin-top: 97px;
}


.container-Plant h1 {
   position: absolute;
   top: 4px;
   margin-bottom: 32px;
   left: 142px;
   font-family: 'Steppe';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 54px;
   letter-spacing: 0.5px;
   color: #004F44;
}

.plant-stands{

   position: absolute;
   width: 1261px;
   height: 563px;
   left: 142px;
   top: 80px;
   
}

#img-14{
position: absolute;
width:370px;
height: 472px;
left: 0;
margin-bottom: 80px;
top:37px;
}

#img-18{
position: absolute;
width: 369px;
height: 472px;
left: 370px;
margin-bottom: 80px;
top:37px;
margin-left: 24px;
}

#img-7{

position: absolute;
width: 369px;
height: 472px;
left: 763px;
margin-bottom: 80px;
top:37px;
margin-left: 24px;

}

.more{

position: absolute;
width: 43px;
height: 19px;
left:1158px;
top: 259px;
margin-left: 28px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.5px;
color: #004F44;
}

.more .bi-arrow-right {
   position: absolute;
   left: 50px;
   top: 19px;
   font-size: 16px;
   color: #004F44;
  
}


.Free-Shipping{
position: absolute;
width: 1154px;
height: 346px;
left:142px;
top:656px;
margin-top: 97px;

}

.Free-Shipping h1{

   position: absolute;
   width: 490px;
   height: 53px;
   top: 58px;
   left: 55px;
   bottom: 235px;
   font-family: 'DM Sans';
    font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 53px;
letter-spacing: 0.3px;

color: #9C6955;
}

.Free-Shipping p{
   position: absolute;
      width: 216px;
      height: 20px;
      top: 121px;
      left: 55px;
      bottom: 205px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0.3px;
   
      color: #9C6955;

}

.Free-Shipping.telefone{
   position: absolute;
      width: 135px;
      height: 19px;
      top: 203px;
      bottom: 124px;
      left: 86px;

}

.Free-Shipping .telefone p{
   position: absolute;
   width:168px;
   height: 19px;
   top: 203px;
   bottom: 124px;
   left: 86px;
}


.Free-Shipping .telefone .bi-telephone{
   position: absolute;
   top: 221.83px;
   left: 55.51px;
   bottom: 125.28px;
   color: #9C6955;
}



.hide {
   display: none;
}